= render "layouts/header"
.main
  .main-content
    - @subschools.each do |subschool|
      = link_to subschool_path(subschool.id) do
        .main-content__box
          .main-content__box__image
            = image_tag "#{subschool.image.url}", size: "120x120"
            - if subschool.reviews.count > 1
              .main-content__box__review
                #star-average{id: subschool.id}
              .main-content__box__reviewRate
                = subschool.reviews.average(:rate).to_f.round(1)
                .main-content__box__reviewCount
                  = "#{subschool.reviews.count} reviews"
            - elsif (subschool.reviews.count === 1)
              .main-content__box__review
                #star-average{id: subschool.id}
              .main-content__box__reviewRate
                = subschool.reviews.average(:rate).to_f.round(1)
              .main-content__box__reviewCount
                = "#{subschool.reviews.count} review"
            - else
              .main-content__reviewComment
                = "まだレビューがありません"
          .main-content__box__sentence
            .main-content__box__name
              = subschool.name
            .main-content__box__description
              = subschool.description
            .main-content__box__description__ex
              - subschool.stags.each do |tags|
                .main-content__box__description__ex__tag
                  = tags.tag
              :javascript
                $('#star-average_#{subschool.id}').raty({
                  size: 36,
                  starOff: "#{asset_path('star-off.png')}",
                  starOn: "#{asset_path('star-on.png')}",
                  starHalf: "#{asset_path('star-half.png')}",
                  half: true,
                  readOnly: true,
                  score: #{subschool.reviews.average(:rate).to_f.round(1)},
                });
