= render "layouts/header"
.main
  .main-history
    - if @history.present? 
      .main-history__text
        最近見たサービス
      .main-history__boxs
        - @history.each do |it|
          .main-history__boxs__box
            = link_to subschool_path(it.id) do
              .main-history__boxs__box__image
                = image_tag it.image.url, size: "300x300"
              .main-history__boxs__box__name
                = it.name

  .main-content
    .main-content__text
      サービス一覧
    - @subschools.each do |subschool|
      = link_to subschool_path(subschool.id) do
        .main-content__box
          .main-content__box__image
            = image_tag "#{subschool.image.url}", size: "120x120"
            - if subschool.reviews.count > 1
              .main-content__box__image__review
                #star-average{id: subschool.id}
              .main-content__box__image__reviewRate
                = subschool.reviews.average(:rate).to_f.round(1)
                .main-content__box__image__reviewCount
                  = "#{subschool.reviews.count} reviews"
            - elsif (subschool.reviews.count === 1)
              .main-content__box__image__review
                #star-average{id: subschool.id}
              .main-content__box__image__reviewRate
                = subschool.reviews.average(:rate).to_f.round(1)
              .main-content__box__image__reviewCount
                = "#{subschool.reviews.count} review"
            - else
              .main-content__box__image__reviewComment
                = "まだレビューがありません"
          .main-content__box__sentence
            .main-content__box__sentence__name
              = subschool.name
            .main-content__box__sentence__description
              = subschool.description
            .main-content__box__sentence__description__ex
              - subschool.stags.each do |tags|
                .main-content__box__sentence__description__ex__tag
                  = link_to stag_path(tags.id) do
                    = tags.tag
              :javascript
                $('#star-average_#{subschool.id}').raty({
                  size: 36,
                  starOff: "#{asset_path('star-off.png')}",
                  starOn: "#{asset_path('star-on.png')}",
                  starHalf: "#{asset_path('star-half.png')}",
                  half: true,
                  readOnly: true,
                  score: #{subschool.reviews.average(:rate).to_f.round(1)},
                });
