= render "layouts/header"
.header-leftbox__form__content
  - @searches.each do |subschool|
    = highlight("#{subschool.name}" , @keyword)
  - @tweetSearch.each do |tweet|
    = highlight("#{tweet.tweet}" , @keyword)
  - @reviewSearch.each do |review|
    = highlight("#{review.content}" , @keyword)
  