= render "layouts/header"
.show-content
  .show-content__topbox
    .show-content__topbox__image
      = image_tag "#{@subschool.image.url}", size: "250x250"
    .show-content__topbox__detail
      .show-content__topbox__detail__name
        = @subschool.name
      .show-content__topbox__detail__description
        = @subschool.description
      .show-content__tags
        - @subschool.stags.each do |tag|
          .show-content__tags__tag
            = tag.tag
          .show-content__tags__star
          .show-content__tags__like

  .show-content__bottombox
    .show-content__bottombox__title
      Review
    - if @subschool.reviews.present?
      .show-review
        - @subschool.reviews.each do |review|
          .show-review__content
            = review.content
            .show-review__subcontent
              .show-review__subcontent__name
                = review.user.nickname
              .show-review__subcontent__star
                = review.rate
            #star-rate{id: review.id}
            :javascript
              $('#star-rate_#{review.id}').raty({
                size: 36,
                starOff:  "#{asset_path('star-off.png')}",
                starOn : "#{asset_path('star-on.png')}",
                starHalf: "#{asset_path('star-half.png')}",
                half: true,
                readOnly: true,
                score: #{review.rate},
              });
  


  .review-form
    = form_with( model: [@subschool, @review], local: true) do |f|
      = f.hidden_field :subschool_id, value: @subschool.id 
      = f.text_field :content
      #star.form-group
        = f.label :rate
        = f.hidden_field :rate, id: :review_star
      = f.submit 'レビューする', class: "submit-btn" 
      :javascript
        $('#star').raty({
          size: 36,
          starOff: "#{asset_path('star-off.png')}",
          starOn: "#{asset_path('star-on.png')}",
          starHalf: "#{asset_path('star-half.png')}",
          scoreName: 'review[rate]',
          half: true,
        });

  .show-content__endbox
    .show-content__endbox__title
      HOT TOPIC
    .show-tweet__form
      = form_with(model: [@subschool, @tweet], local: true) do |tweet|
        = tweet.hidden_field :subschool_id, value: @subschool.id 
        = tweet.text_field :tweet
        = tweet.submit '投稿する', class: "submit-btn" 

    .show-content__endbox__box
      - @subschool.tweets.each do |tweet|
        = link_to "/subschools/#{@subschool.id}/tweets/#{tweet.id}" do
          .show-tweet
            .show-tweet__image
            .show-tweet__name
              = tweet.user.nickname
              .show-tweet__detail
                .show-tweet__detail__tweet
                  = tweet.tweet
          .show-tweet__comment
          .show-tweet__like


  